@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

button {
    border: 0;
    outline: 0;
    background-color: transparent;
    transition: all 0.3s;
}

body {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3D54A1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #193263;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    padding: 10px 0;
}

header .general-header {
    width: 100%;
    background-color: #fff;
}

header .general-header .top-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

/* @media only screen and (min-width:992px) {
    header .top-navbar {
        justify-content: space-between;
    }
    
} */



header .top-navbar .header-logo {
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:992px) {
    header .top-navbar .header-logo{
        max-width: 180px;
       }
    
}
header .top-navbar .header-logo img {
    width: 100%;
    object-fit: contain;
    max-width: 400px;
}

header .top-navbar .top-navbar-right {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

header .top-navbar-right .icons-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

header .icons-navbar .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .icons-navbar .social-icons {
    border-right: 1px solid #193263;
}

header .icons-navbar .social-icons a {
    color: #193263;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
}

header .icons-navbar .contact {
    border-right: 1px solid #193263;
    align-self: stretch;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .icons-navbar .contact a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .icons-navbar .contact a span:first-child {
    font-size: 18px;
    color: #193263;
    padding: 0 8px;
}

header .icons-navbar .contact a span:last-child {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

header .icons-navbar .contact:last-child {
    border-right: none;
}

header .top-navbar-right .search-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 0;
}

header .top-navbar-right .search-bottom .lang-dropdown {
    margin-right: 15px;
}

header .search-bottom .lang-dropdown .dropdown {
    position: relative;
}

header .search-bottom .dropdown-button span {
    padding: 0 5px;
    color: #193263;
    font-size: 20px;
    font-weight: 600;

}

header .search-bottom .dropdown-button i {
    font-size: 14px;
    color: #193263;
}

header .search-bottom .dropdown-menu {
    padding: 5px;
    min-width: auto;
}

header .search-bottom .dropdown-menu .dropdown-item {
    font-size: 18px;
    font-weight: 600;
    color: #193263;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
}

header .search-bottom .dropdown-menu .dropdown-item:hover {
    color: #fff;
    background-color: #193263;
    transition: all .3s;
}

header .search-bottom .search-box {
    position: relative;
    min-width: 300px;
}

header .search-bottom .search-box input {
    width: 100%;
    background-color: #ECEEF6;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    padding-right: 35px;
}

header .search-bottom .search-box button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

header .bottom-navbar {
    width: 100%;
    padding: 30px 0;
    background-color: #fff;
}

header .bottom-navbar .links-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .bottom-navbar .links-wrapper a {
    text-align: center;
    padding: 12px;
    font-weight: 600;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}

header .bottom-navbar .links-wrapper a:hover {
color: #fff;
background-color: #193263;
}

header .bottom-navbar .links-wrapper a.active {
    color: #fff;
    background-color: #193263;

}


header .menu-button{
    font-size: 20px;
    color: #193263;
}

header .close-button{
    width: 35px;
    height: 35px;
    border: 2px solid #193263;
    border-radius: 50%;
    border-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .close-button i{
    font-size: 24px;
    color: #fff;
}
header .offcanvas-header .header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

header .offcanvas-end{
    background-color: #193263;
}

header .offcanvas-header .header-logo img{
    max-width: 200px;
    width: 100%;
    object-fit: contain;
}

header .offcanvas-body .links-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0;
}

header .offcanvas-body .links-wrapper a.active {
    color: #193263;
    background-color: #fff;
}

header .offcanvas-body .links-wrapper a{
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  margin: 3px 0;
  min-width: 180px;
  color:#fff ;

}
header .offcanvas-body .links-wrapper a:hover{
    color: #193263;
    background-color: #fff;
}
header .offcanvas-body .icons-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
header .offcanvas-body .icons-wrapper .contact-icons{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

header .offcanvas-body .icons-wrapper .contact-icons a{  
    display: flex;
    align-items: center;
    justify-content:flex-start ;
    margin-bottom: 20px;
}
header .offcanvas-body .contact-icons a span:first-child{  
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #193263;
    font-size: 20px;
    margin-right: 10px;
}
header .offcanvas-body .contact-icons a span:last-child{  
    color: #fff;
    font-weight: 600;

}

header .offcanvas-body  .social-icons{  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
header .offcanvas-body  .social-icons a{  
    color: #fff;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 10px;
}

header .search-button{
    font-size: 20px;
    color: #193263;
    margin-right: 10px;
}

header .offcanvas-top{
    background-color: #fff;
}

header .offcanvas-top .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

header .offcanvas-top .row{
    width: 100%;
}

header .offcanvas-top .col-10{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .offcanvas-top .col-10 .search-input{
    position: relative;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .offcanvas-top .search-input input{
    padding: 12px 15px;
    padding-right: 45px;
    width: 100%;
}

header .offcanvas-top .search-input .form-control{
        caret-color: #193263;
        color: #202f3f;
        font-weight: 500;
        display: block;
        font-size: 16px;
        line-height: 1.5;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.375rem;
        color: #3D54A1;
       
}
header .offcanvas-top  .form-control::placeholder{
    color: #193263;
    font-weight: bolder;
}
header .offcanvas-top  .search-input button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0 10px;
}
header .offcanvas-top  .search-input button i{
    font-size: 20px;
    color: #193263;
}

header .offcanvas-top .col-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

header .offcanvas-top .close-button{
    width: 35px;
    height: 35px;
    border: 2px solid #193263;
    border-radius: 50%;
}

header .offcanvas-top .close-button i{
    font-size: 20px;
    color: #193263;
}

header .offcanvas-top .search-input input:focus{
    border-color: #193263;
    box-shadow: 0 0 5px #b5bddb;
    

}

.swiper {
    width: 100%;
}

 .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 100%;
    margin-bottom: 40px;
}

section.banner{
    position: relative;
    min-height: 70vh;
}

section.banner .banner-swiper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

section.banner .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


section.banner .content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  
    
}

@media only screen and (min-width:768px) {
    section.banner .content{
        padding: 100px 0;
    }
    
}

section .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.banner .content .content-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
@media only screen and (min-width:768px) {
    section.banner .content .content-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }
    
}

section.banner  .content-wrapper .content-left{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width:768px) {
    section.banner  .content-wrapper .content-left{
       align-items: flex-start;
       padding-right: 20px;
       margin-bottom: 0;
      
    }
}

@media only screen and (min-width:768px) {
    section.banner .content-left h1{
        text-align: start;
    }
}
@media only screen and (max-width:768px) {
    section.banner .content-left h1{
        text-align: center;
    }
}
section.banner  .content-left h1{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    
}

section.banner  .content-left .banner-button{
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px 0;
    min-width: 150px;
    padding: 10px;
    color: #fff;
}
@media only screen and (min-width:768px) {
    section.banner  .content-left .banner-button{
      width: 100%;
      max-width: 220px;
      font-size: 22px;
    }
}

section.banner  .content-left .banner-button:hover{
    background-color: #fff;
    color: #000;
}


section.banner .content-right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.video-wrapper{
    position: relative;
    max-width: 700px;
    width: 100%;
}



 .video-poster{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}
.video-poster img{
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
 .hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

 .play-button{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #fff;
}

.play-button i{
    color: #fff;
    font-size: 18px;
}



section.counter .counters-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

@media only screen and (min-width:1200px) {
    section.counter .counters-wrapper{
      justify-content: space-between;
      flex-wrap: nowrap;
    }
}
@media only screen and (min-width:576px) {
    section.counter .counters-wrapper{
      flex-direction: row;
    }
}

section.counter .counters-wrapper .item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

@media only screen and (min-width:576px) {
    section.counter .counters-wrapper .item{
        min-width:220px;
        max-width: 240px;
    }
}

section.counter .counters-wrapper .item .image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

section.counter .counters-wrapper .item .name{
    max-width: 240px;
    min-height: 70px;
    padding: 15px 0;
}
section.counter .counters-wrapper .item .name p{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
section.counter .counters-wrapper .item .counter-span{
    font-size: 34px;
    font-weight: 700;
    color: #193263;
    display: flex;
    align-self: center;
    justify-content:center;

}

section.why-us .content{
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}
section.why-us .content h1{
    padding: 10px 15px;
    margin-bottom: 20px;
    border-left: 5px solid #193263;
    text-transform: uppercase
}

section.why-us .small-images{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

@media only screen and (min-width:768px) {
    section.why-us .small-images {
        flex-direction: row;
        margin-bottom: 40px;
}
}

@media only screen and (min-width:1200px) {
    section.why-us .small-images {
        justify-content: flex-start;
}
}

section.why-us .small-images .item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
@media only screen and (min-width:768px) {
    section.why-us .small-images .item{
      margin-right: 15px;
}
}

section.why-us  .item img{
    margin-right: 10px;
    width: 80px;
    height: 50px;
    object-fit: contain;
}
section.why-us  .item .label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

section.why-us  .item .label span{
    padding: 5px 0;
    font-weight: 500;
}

section.why-us .col-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

